# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Node
# ==========================

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
.venv/
venv/

# ==========================
# Environment Variables
# ==========================

.env
.env.local
.env.*

!.env.example

# ==========================
# Logs
# ==========================

logs/
*.log

# ==========================
# Build
# ==========================

dist/
build/
.next/
coverage/

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# Testing
# ==========================

playwright-report/
test-results/

# ==========================
# Misc
# ==========================

.cache/
tmp/

# ==========================
# Vercel
# ==========================

.vercel

# ==========================
# Typescript
# ==========================

*.tsbuildinfo

# ==========================
# Turborepo
# ==========================

.turbo/

# ==========================
# pnpm
# ==========================

.pnpm-store/

# ==========================
# sample-codes
# ==========================

sample-codes

# ==========================
# prisma
# ==========================

migration_lock.toml